@import "mixins";
@import "variables";

#calendar {
  .day {
    margin-top: 1.25rem;

    .date {
      @include vertical-centered;

      @media(max-width: 991px) {
        padding-bottom: 1.5rem;
      }
    }

    .match {
      height: 140px;
      margin: 2rem 0;

      &.poolA {
        border-left: 10px solid $poolA;
      }

      &.poolB {
        border-left: 10px solid $poolB;
      }

      &.poolC {
        border-left: 10px solid $poolC;
      }

      &.poolD {
        border-left: 10px solid $poolD;
      }

      &.poolE {
        border-left: 10px solid $poolE;
      }

      &.poolF {
        border-left: 10px solid $poolF;
        border-color: darken($poolF, 10%);
      }

      &.poolG {
        border-left: 10px solid $poolG;
      }

      &.poolH {
        border-left: 10px solid $poolH;
      }

      .info {
        @include vertical-centered;
        font-size: 0.8em;
      }
    }

    .time {
      text-align: center;
    }
  }

  .match {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 1.25rem 0;
    color: black;

    .teams {
      @include vertical-centered;

      overflow: hidden;

      div + div {
        margin-top: 1.25rem;
      }
    }
  }

  .tree {
    $margin: 1rem;
    $margin-sm: 0;

    .col-4 {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .final .match {
      margin-left: $margin;
    }

    .quarters .match {
      margin-right: $margin;
    }

    .semi .match {
      margin-left: $margin;
      margin-right: $margin;
    }

    @media(max-width: 768px) {
      .col-9, .col-3 {
        padding: .3rem;
      }

      .final .match {
        margin-left: $margin-sm;
      }

      .match {
        height: 80px !important;
        font-size: .7rem;
      }

      .quarters .match {
        margin-right: $margin-sm;
      }

      .semi .match {
        margin-left: $margin-sm;
        margin-right: $margin-sm;
      }
    }

    .match {
      height: 120px;
      margin: 1.25rem 0;
      position: relative;

      .info {
        position: absolute;
        top: -20px;
        left: 0;
        font-size: 0.7rem;
        color: #3c3c3c;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
      }

      .teams div + div {
        margin-top: .75rem;
      }
    }
  }
}
