@import "mixins";
@import "variables";

#calendar {
  .day {
    margin-top: 1.25rem;

    .date {
      @include vertical-centered;

      @media(max-width: 991px) {
        padding-bottom: 1.5rem;
      }
    }

    .match {
      margin: 2rem 0;
      height: 140px;

      &.poolA {
        border-left: 10px solid $poolA;
      }

      &.poolB {
        border-left: 10px solid $poolB;
      }

      &.poolC {
        border-left: 10px solid $poolC;
      }

      &.poolD {
        border-left: 10px solid $poolD;
      }

      &.poolE {
        border-left: 10px solid $poolE;
      }

      &.poolF {
        border-left: 10px solid $poolF;
        border-color: darken($poolF, 10%);
      }

      &.poolG {
        border-left: 10px solid $poolG;
      }

      &.poolH {
        border-left: 10px solid $poolH;
      }
    }

    .time {
      text-align: center;
    }
  }

  .match {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 1.25rem 0;
    color: black;

    &.final-stage {
      height: 100px;
      margin: 1rem 0;

      .teams div + div {
        margin-top: .75rem;
      }
    }

    .info {
      @include vertical-centered;
      font-size: 0.8em;
    }

    .teams {
      @include vertical-centered;

      div + div {
        margin-top: 1.25rem;
      }
    }
  }
}
