@import "variables";

.footer {
  padding: 5rem 0;
  background-color: $secondary;
  color: $white;

  img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 3rem 0;
  }
}
