@import "variables";

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: $secondary;
  color: $white;

  img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
