@import "variables";

#ranking {
  h2 {
    margin: 2.5rem 0 2rem 0;
    padding-left: 1rem;

    &.poolA {
      border-left: 10px solid $poolA;
    }

    &.poolB {
      border-left: 10px solid $poolB;
    }

    &.poolC {
      border-left: 10px solid $poolC;
    }

    &.poolD {
      border-left: 10px solid $poolD;
    }

    &.poolE {
      border-left: 10px solid $poolE;
    }

    &.poolF {
      border-left: 10px solid $poolF;
      border-color: darken($poolF, 10%);
    }

    &.poolG {
      border-left: 10px solid $poolG;
    }

    &.poolH {
      border-left: 10px solid $poolH;
    }
  }

  .table-container {
    overflow-x: auto;

    @media (max-width: 575px) {
      margin: 0 -15px;
    }

    .team {
      width: 40%;
    }
  }
}
