{{!< default}}
<div id="home">
  <div class="masthead bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-4 col-md-5">
          <img class="img-fluid d-block mx-auto logo" src="/img/logo.png" alt="">
        </div>
        <div class="col d-block d-md-none">
          <h1>Tournoi de volley GEMS</h1>
        </div>
        <div class="col-md">
          <h1 class="d-none d-sm-none d-md-block">Tournoi de volley GEMS</h1>
          <p>
            IIIIIIIIIIIUn départ en vacances d'été serait inimaginable sans le traditionnel tournoi de volley. 
            Pour la quatrième année consécutive, nous vous invitons à venir partager votre bonne humeur 
            et votre esprit d'équipe le temps de quelques matchs.
          </p>
        </div>
      </div>
    </div>
  </div>

  <section class="faq">
    <div class="container">
      <h3 class="text-secondary">Qui peut participer ?</h3>
      <p class="mt-3">
        Le tournoi est gratuit et ouvert à toutes les personnes travaillant à Buc (incluant stagiaires et consultants).
        Les équipes seront composées de 4 personnes sur le terrain et peuvent être mixtes. Tous les niveaux sont
        acceptés
        !
      </p>

      <h3 class="text-secondary mt-5">Où et quand se dérouleront les matchs ?</h3>
      <p class="mt-3">
        Cette 4ème édition se déroulera du <strong>lundi 8 juillet</strong> au <strong>vendredi 26 juillet
        2018</strong>. Les matchs se jouent entre 12h et 14h dans le gymnase du Lycée Franco-Allemand de Buc. Chaque
        équipe jouera au minimum 3 matchs durant le déroulement du tournoi.
      </p>
      <p class="mb-0">
        <img class="img-fluid d-block mx-auto logo" src="img/plan.jpg" alt="">
      </p>

      <h3 class="text-secondary mt-5">Comment s'inscrire ?</h3>
      <p class="mt-3 mb-0">
        Pour vous inscrire, vous avez jusqu'au <strong>28</strong> juin pour remplir le
        <a href="/assets/Fiche_Inscription_Tournoi_GE_Volley_2018.xlsx">formulaire suivant</a> et l'envoyer à
        <a href="mailto:OrgaVolley2019@ge.com">OrgaVolley2019@ge.com</a>. Ne traînez pas, seules les 24 premières
        équipes inscrites pourront participer !
      </p>
    </div>
  </section>
</div>
