{
  "extends": "eslint:recommended",
  "env": {
    "amd": true,
    "es6": true
  },
  "globals": {
    "__dirname": true,
    "console": true,
    "module": true
  },
  "rules": {
    "no-console": "off"
  }
}
